<hr>
    {{#if data.length}}
    
    {{#each data}}
    <p>{{data.length}}</p>
    <p> <span style="color: blue; font-weight:bold;">{{this.author.id}}</span>  <span style="color: brown;">[{{this.author.name}} {{this.author.lastName}}]</span> <span style="font-family: italic; color: green;">:{{this.text}}</span></p>
    {{/each}}
    {{else}}
    <p>No mensajes {{data.length}}</p>
    {{/if}}
    
